@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;

.login-page {
  form {
    align-items: center;
    margin-top: spacing(1.25) !important;
    > div,
    > button {
      width: 80%;
    }
    .MuiButtonBase-root {
      flex-grow: 1;
      width: 50%;
      height: spacing(7); // same as the input fields
      color: rgba(0, 0, 0, 0.8);
      .MuiSvgIcon-root {
        font-size: $svgSize - 0.25rem;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
