@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;

.button-group-menu {
  justify-content: center;
  .MuiButtonGroup-grouped {
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.8);
    .MuiSvgIcon-root {
      font-size: $svgSize;
    }
    .btn-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $svgSize;
      height: $svgSize;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@mixin bottomGroupMenu($minHeight) {
  .button-group-menu {
    min-height: $minHeight;
  }
}

@media (max-width: $tablet) {
  @include bottomGroupMenu($btnMenuHeightPhone);
}

@media (min-width: $tablet) {
  @include bottomGroupMenu($btnMenuHeightTablet);
}
