@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;

.page {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 310px;
  max-width: 400px;
  flex-wrap: nowrap;

  /* .top {
    height: 0;
  } */

  .page-content {
    flex-grow: 1;

    // margin-top: 0;
    // justify-content: space-between;
    justify-content: center; // shrinks the content toward the middle
    align-items: stretch; // when flex-direction is colum the elements are stretch horizontally
    // align-content: center; -> disabled by "flex-wrap: nowrap"
    // align-items: center;
    // position: relative; // necessary for corner buttons

    overflow: hidden;
  }
}

.wide-page {
  max-width: 768px;
}
