@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;
@use '/src/styles/list/list-mixins.scss' as *;
@use 'EmptyList.scss' as *;

$liPX: spacing(0.5);
$songListMaxSecondaryActionRows: 4;
$songListMaxSecondaryActionColumns: 2;

.song-list.zero-length {
  @include emptyMessage2ndItem;
}

.song-list {
  > li.last-used-song .MuiListItemText-primary {
    font-weight: bold;
  }
  > li.YOUTUBE:not(.Mui-selected, .Mui-focusVisible) {
    background-color: #f1e38236;
  }
  .MuiListItemSecondaryAction-root {
    .action {
      .action-column {
        align-items: center;
      }
    }
  }
  > li {
    @media (max-width: $tablet) {
      @include liButton($liPX, 1.1rem);
      @include liAvatarAtLeft(25%, $liPX);
      // @include liAvatarOnTop(60%);
    }
    @media (min-width: $tablet) {
      @include liButton($liPX, 0.95rem);
      @include liAvatarAtLeft(25%, $liPX);
    }
  }
  @include liMenuMedia;
}

$smallerThanTabletIconSize: 4;
$largerThanTabletIconSize: 3;

@mixin songListSecondaryAction($count) {
  > li {
    @media (max-width: $tablet) {
      @include liAction($smallerThanTabletIconSize, $count);
    }
    @media (min-width: $tablet) {
      @include liAction($largerThanTabletIconSize, $count);
    }
  }
}

@for $i from 1 through $songListMaxSecondaryActionRows {
  .song-list-rows-#{$i} {
    @include songListSecondaryAction($i);
  }
}

@mixin songListSecondaryActionColumns($count) {
  > li {
    @media (max-width: $tablet) {
      // this is the text part of the list item button (the image/avatar is outside of this)
      .MuiListItemButton-root .MuiListItemText-root {
        // this creates the space for the action buttons, otherwise they would overlap
        padding-right: spacing(($smallerThanTabletIconSize + 2) * $count - 1);
      }
    }
    @media (min-width: $tablet) {
      // this is the text part of the list item button (the image/avatar is outside of this)
      .MuiListItemButton-root .MuiListItemText-root {
        // this creates the space for the action buttons, otherwise they would overlap
        padding-right: spacing(($largerThanTabletIconSize + 2) * $count - 1);
      }
    }
  }
}

@for $i from 1 through $songListMaxSecondaryActionColumns {
  .song-list-cols-#{$i} {
    @include songListSecondaryActionColumns($i);
  }
}
