@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;
@use '/src/styles/list/list-mixins.scss' as *;
@use 'EmptyList.scss' as *;

$liPX: spacing(0.5);
$songListMaxSecondaryActionRows: 4;
$songListMaxSecondaryActionColumns: 2;
$smallerThanTabletIconSize: 4;
$largerThanTabletIconSize: 3;

.song-list.zero-length {
  @include emptyMessage2ndItem;
}

.song-list {
  > li.last-used-song .MuiListItemText-primary {
    font-weight: bold;
  }
  > li.YOUTUBE:not(.Mui-selected, .Mui-focusVisible) {
    background-color: #f1e38236;
  }
  .MuiListItemSecondaryAction-root {
    .action {
      .action-column {
        align-items: center;
      }
    }
  }
  > li {
    @media (max-width: $tablet) {
      @include liButton($liPX, 1.1rem);
      @include liAvatarAtLeft(25%, $liPX);
      // @include liAvatarOnTop(60%);
      @include li2ActionElem($smallerThanTabletIconSize);
      .action-column-right {
        margin-left: spacing(-0.75);
      }
    }
    @media (min-width: $tablet) {
      @include liButton($liPX, 0.95rem);
      @include liAvatarAtLeft(25%, $liPX);
      @include li2ActionElem($largerThanTabletIconSize);
      .action-column-right {
        margin-left: spacing(-0.5);
      }
    }
  }
  @include liMenuMedia;
}

// this determines the height of the list-item button
@mixin songListSecondaryActionRow($count) {
  > li {
    @media (max-width: $tablet) {
      @include liButtonWhen2Action($smallerThanTabletIconSize, $count);
    }
    @media (min-width: $tablet) {
      @include liButtonWhen2Action($largerThanTabletIconSize, $count);
    }
  }
}

@for $i from 1 through $songListMaxSecondaryActionRows {
  .song-list-rows-#{$i} {
    @include songListSecondaryActionRow($i);
  }
}

// this determines the text right-padding of the li element
@mixin songListSecondaryActionColumn($count) {
  > li {
    @media (max-width: $tablet) {
      @include liTextWhen2Action($smallerThanTabletIconSize, $count, -1.75);
    }
    @media (min-width: $tablet) {
      @include liTextWhen2Action($largerThanTabletIconSize, $count);
    }
  }
}

@for $i from 1 through $songListMaxSecondaryActionColumns {
  .song-list-cols-#{$i} {
    @include songListSecondaryActionColumn($i);
  }
}
