@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;
@use '/src/styles/list/list-mixins.scss' as *;
@use 'EmptyList.scss' as *;

$liPX: spacing(0.5);
$songListMax2ActionRows: 3;
$songListMax2ActionColumns: 2;
$smallerThanTabletIconSize: 4;
$largerThanTabletIconSize: 3;

.song-list.zero-length {
  @include emptyMessage2ndItem;
}

.song-list {
  > li.last-used-song .MuiListItemText-primary {
    font-weight: bold;
  }
  > li.YOUTUBE:not(.Mui-selected, .Mui-focusVisible) {
    background-color: #f1e38236;
  }
  .MuiListItemSecondaryAction-root {
    .action {
      .action-column {
        align-items: center;
      }
    }
  }
  > li {
    @media (max-width: $tablet) {
      @include liButton($liPX, 1.1rem);
      @include liAvatarAtLeft(25%, $liPX);
      // @include liAvatarOnTop(60%);
      @include li2ActionElem($smallerThanTabletIconSize);
      .action-column-right {
        margin-left: spacing(-0.75);
      }
    }
    @media (min-width: $tablet) {
      @include liButton($liPX, 0.95rem);
      @include liAvatarAtLeft(25%, $liPX);
      @include li2ActionElem($largerThanTabletIconSize);
      .action-column-right {
        margin-left: spacing(-0.75);
      }
    }
  }
  @include liMenuMedia;
}

@for $i from 1 through $songListMax2ActionRows {
  .song-list-rows-#{$i} {
    @include li2ActionRow($smallerThanTabletIconSize, $largerThanTabletIconSize, $i);
  }
}

@for $i from 1 through $songListMax2ActionColumns {
  .song-list-cols-#{$i} {
    @include li2ActionColumn($smallerThanTabletIconSize, $largerThanTabletIconSize, $i);
  }
}
