@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;
@use '/src/styles/list/list-mixins.scss' as *;

@mixin tracksListItem($btnPX, $fontSize, $iconSize, $actionCount: 2) {
  @include liButton($btnPX, $fontSize);
  @include liAction($iconSize, $actionCount);
  @include liAvatarAtLeft(25%, $btnPX);
}

$liPX: spacing(0.5);

.track-list {
  > li {
    /* .upsert-btn {
      width: 23px !important;
      height: 23px !important;
    } */
    @media (max-width: $tablet) {
      @include tracksListItem($liPX, 1.15rem, 3.5);
    }
    @media (min-width: $tablet) {
      @include tracksListItem($liPX, 1rem, 2.75);
    }
  }
  > li.has-download {
    @media (max-width: $tablet) {
      @include tracksListItem($liPX, 1.15rem, 3.5, 3);
    }
    @media (min-width: $tablet) {
      @include tracksListItem($liPX, 1rem, 2.75, 3);
    }
  }
  @include liMenuMedia;
}
