@use 'list/list-wrapper.scss' as *;

@mixin namedListPage($listSelector) {
  #{$listSelector} {
    max-width: 100%;
    @include pageContentWithListWrapper;
  }
}

@mixin listPage {
  @include namedListPage('.list-page');
}

@include listPage;
