@use '/src/styles/vars.scss';

// see https://www.whatismybrowser.com/w/66ZAAY4
.page {
  justify-content: center;
  align-content: center;
  // align-items: center; -> shrinks the content toward the middle
  width: 100%;
  height: 100%;
  min-width: 310px;
  max-width: 400px;
  position: relative; // necessary for corner buttons
}

.title {
  text-align: center;
}
