$spaceRatio: 8px;
$tablet: 400px;
$panelHeight: 76px;
$btnMenuHeightPhone: 64px;
$btnMenuHeightTablet: 52px;
$background: #fffaf0;
$btnBorderColor: rgba(25, 118, 210, 0.5);
// Mui-selected
$selectedListItemBgColor: rgba(25, 118, 210, 0.08);
// Mui-focusVisible
$selectedFocusedListItemBgColor: rgba(25, 118, 210, 0.2);
$svgSize: 2.35rem;
