@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;

.kefl-lsx-page {
  .page-content {
    > div:not(.ignored) {
      height: $panelHeight;
    }
    .kef-btn-wrapper {
      justify-content: center;
      .MuiIcon-root {
        display: flex;
        line-height: 0;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

@mixin kefLsxPage($padding, $iconSize) {
  // @debug "[kefl-lsx-page] padding: #{$padding}";
  .kef-btn {
    padding: spacing($padding);
    .MuiIcon-root {
      font-size: spacing($iconSize);
    }
  }
}

@media (max-width: $tablet) {
  @include kefLsxPage(1, 10);
}

@media (min-width: $tablet) {
  @include kefLsxPage(0.8, 9);
}
