@use '/src/styles/menu-page.scss' as *;

@include menuPage;

.menu-page {
  .page-content {
    [role='menu'] {
      .history {
        color: black;
      }
      img.search {
        width: 20px;
        height: 20px;
      }
      img.local-playlists {
        width: 24px;
        height: 24px;
      }
      img.local-library-edit-from-playing, img.local-library-edit-from-search {
        width: 22px;
        height: 22px;
      }
    }
  }
}
