@import '/src/styles/vars.scss';

.stack {
  height: 100%;
  justify-content: center;
}

.ul {
  padding: 0 !important;
  overflow: auto;
  max-height: 100%;
  border: thin solid rgba(0, 0, 0, 0.2);
  border-left: none;
}
