@mixin pageContentWithListWrapper {
  .content {
    flex-grow: 1;
    .list-wrapper {
      flex-grow: 1;
      position: relative;
      justify-content: center;
      text-align: center;
      height: 0; // solves the list overflow issue
    }
  }
}
