@mixin list {
  .list {
    height: 100%;
    padding: 0 !important;
    overflow: auto;
    max-height: 100%;
    border: thin solid rgba(0, 0, 0, 0.2);

    > li:not(.empty) {
      border-right: solid thin rgba(0, 0, 0, 0.2);
    }

    > li:not(:last-of-type) {
      border-bottom: thin solid rgba(0, 0, 0, 0.2);
    }
  }
}

@include list;
