@mixin pageContentWithListWrapper {
  .list-wrapper {
    flex-grow: 1;
    align-self: stretch;
    position: relative;
    justify-content: center;
    text-align: center;
    // solves the overflow issue when the list is not empty but makes list-wrapper
    // aware of its (flex) parent because it must rely on flex-grow=1 to grow
    height: 0;
  }
}

@include pageContentWithListWrapper;
