$height: 64px;
$width: calc($height * 4 / 3);
$radius: 70%;

.corner-button {
  height: $height;
  width: $width;
  // border: thin solid rgba(0, 0, 0, 0.2);
  border: thin solid dimgray;
  background-color: rgba(2, 137, 209, 0.15);
  // background-color: aliceblue;
  border-radius: calc($height / 3);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  // position: absolute;
  // bottom: 0;

  .icon-box {
    height: 95%;
    width: 92.5%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.corner-button.left {
  // left: 0;
  border-top-right-radius: $radius;
}

.corner-button.right {
  // right: 0;
  justify-content: flex-end;
  border-top-left-radius: $radius;
}
