.file-editor-page {
  form {
    overflow: auto;
    flex-grow: 1;
    .file-content {
      flex-grow: 1;
      /* .MuiInputBase-root {
        flex-grow: 1;
      } */
      textarea {
        font-size: small;
      }
    }
  }
}
