@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;
@use '/src/styles/wide-list-page.scss' as *;

@include wideListPage;

.text-search-button {
  background-color: $background !important;
}
