@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;
@use '/src/components/button/cornerbutton/CornerIconButton.scss' as cb;

.player-page {
  .page-content {
    > div:not(.ignored) {
      height: $panelHeight;
    }

    .MuiTypography-root {
      .MuiBadge-root {
        vertical-align: unset;
        .MuiBadge-badge {
          top: -8px;
        }
      }
    }

    .title {
      a {
        cursor: pointer;
        text-decoration: none;
        svg {
          line-height: 0;
          vertical-align: text-bottom;
          font-size: 1.265rem;
        }
      }
    }
  }
}
