@use '/src/styles/vars.scss' as *;
@use '/src/styles/functions.scss' as *;

.track-list-page {
  .content {
    flex-grow: 1;
    .song-list-wrapper {
      justify-content: center;
      text-align: center;
      flex-grow: 1;
      height: 0; // solves the list overflow issue
    }
  }

  .bottom {
    height: auto;
    > button {
      width: 100%;
    }
  }
}

@mixin tracksListPage($btnPY) {
  $btnPYpx: spacing($btnPY);
  .track-list-page {
    .bottom {
      > button {
        padding-top: $btnPYpx;
        padding-bottom: $btnPYpx;
      }
    }
  }
}

@media (max-width: $tablet) {
  @include tracksListPage(2);
}

@media (min-width: $tablet) {
  @include tracksListPage(1.5);
}
